<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Add-castCovenantOfSpar-bg (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{406,602},{200,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,237},{200,148}}</string>
                <key>sourceSize</key>
                <string>{400,620}</string>
            </dict>
            <key>Add-castCovenantOfSpar-bg (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{406,302},{200,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,237},{200,148}}</string>
                <key>sourceSize</key>
                <string>{400,620}</string>
            </dict>
            <key>Add-castCovenantOfSpar-bg (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{204,302},{200,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,237},{200,148}}</string>
                <key>sourceSize</key>
                <string>{400,620}</string>
            </dict>
            <key>Add-castCovenantOfSpar-bg (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{810,152},{200,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,237},{200,148}}</string>
                <key>sourceSize</key>
                <string>{400,620}</string>
            </dict>
            <key>Add-castCovenantOfSpar-bg (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{608,152},{200,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,237},{200,148}}</string>
                <key>sourceSize</key>
                <string>{400,620}</string>
            </dict>
            <key>Add-castCovenantOfSpar-bg (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{406,152},{200,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,237},{200,148}}</string>
                <key>sourceSize</key>
                <string>{400,620}</string>
            </dict>
            <key>Add-castCovenantOfSpar-bg (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{204,152},{200,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,237},{200,148}}</string>
                <key>sourceSize</key>
                <string>{400,620}</string>
            </dict>
            <key>Add-castCovenantOfSpar-bg (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{200,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,237},{200,148}}</string>
                <key>sourceSize</key>
                <string>{400,620}</string>
            </dict>
            <key>Add-castCovenantOfSpar-bg (17).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{200,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,237},{200,148}}</string>
                <key>sourceSize</key>
                <string>{400,620}</string>
            </dict>
            <key>Add-castCovenantOfSpar-bg (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{200,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,237},{200,148}}</string>
                <key>sourceSize</key>
                <string>{400,620}</string>
            </dict>
            <key>Add-castCovenantOfSpar-bg (19).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{200,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,237},{200,148}}</string>
                <key>sourceSize</key>
                <string>{400,620}</string>
            </dict>
            <key>Add-castCovenantOfSpar-bg (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{810,452},{200,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,237},{200,148}}</string>
                <key>sourceSize</key>
                <string>{400,620}</string>
            </dict>
            <key>Add-castCovenantOfSpar-bg (20).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{200,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,237},{200,148}}</string>
                <key>sourceSize</key>
                <string>{400,620}</string>
            </dict>
            <key>Add-castCovenantOfSpar-bg (21).png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{200,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,237},{200,148}}</string>
                <key>sourceSize</key>
                <string>{400,620}</string>
            </dict>
            <key>Add-castCovenantOfSpar-bg (22).png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{200,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,237},{200,148}}</string>
                <key>sourceSize</key>
                <string>{400,620}</string>
            </dict>
            <key>Add-castCovenantOfSpar-bg (23).png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{200,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,237},{200,148}}</string>
                <key>sourceSize</key>
                <string>{400,620}</string>
            </dict>
            <key>Add-castCovenantOfSpar-bg (24).png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{200,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,237},{200,148}}</string>
                <key>sourceSize</key>
                <string>{400,620}</string>
            </dict>
            <key>Add-castCovenantOfSpar-bg (25).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,237},{200,148}}</string>
                <key>sourceSize</key>
                <string>{400,620}</string>
            </dict>
            <key>Add-castCovenantOfSpar-bg (26).png</key>
            <dict>
                <key>frame</key>
                <string>{{608,602},{198,146}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,238},{198,146}}</string>
                <key>sourceSize</key>
                <string>{400,620}</string>
            </dict>
            <key>Add-castCovenantOfSpar-bg (27).png</key>
            <dict>
                <key>frame</key>
                <string>{{606,752},{198,146}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,238},{198,146}}</string>
                <key>sourceSize</key>
                <string>{400,620}</string>
            </dict>
            <key>Add-castCovenantOfSpar-bg (28).png</key>
            <dict>
                <key>frame</key>
                <string>{{406,752},{198,146}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,238},{198,146}}</string>
                <key>sourceSize</key>
                <string>{400,620}</string>
            </dict>
            <key>Add-castCovenantOfSpar-bg (29).png</key>
            <dict>
                <key>frame</key>
                <string>{{808,602},{196,144}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,239},{196,144}}</string>
                <key>sourceSize</key>
                <string>{400,620}</string>
            </dict>
            <key>Add-castCovenantOfSpar-bg (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{608,452},{200,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,237},{200,148}}</string>
                <key>sourceSize</key>
                <string>{400,620}</string>
            </dict>
            <key>Add-castCovenantOfSpar-bg (30).png</key>
            <dict>
                <key>frame</key>
                <string>{{808,748},{194,142}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,240},{194,142}}</string>
                <key>sourceSize</key>
                <string>{400,620}</string>
            </dict>
            <key>Add-castCovenantOfSpar-bg (31).png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{400,620}</string>
            </dict>
            <key>Add-castCovenantOfSpar-bg (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{406,452},{200,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,237},{200,148}}</string>
                <key>sourceSize</key>
                <string>{400,620}</string>
            </dict>
            <key>Add-castCovenantOfSpar-bg (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{204,752},{200,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,237},{200,148}}</string>
                <key>sourceSize</key>
                <string>{400,620}</string>
            </dict>
            <key>Add-castCovenantOfSpar-bg (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{204,602},{200,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,237},{200,148}}</string>
                <key>sourceSize</key>
                <string>{400,620}</string>
            </dict>
            <key>Add-castCovenantOfSpar-bg (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{204,452},{200,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,237},{200,148}}</string>
                <key>sourceSize</key>
                <string>{400,620}</string>
            </dict>
            <key>Add-castCovenantOfSpar-bg (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{810,302},{200,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,237},{200,148}}</string>
                <key>sourceSize</key>
                <string>{400,620}</string>
            </dict>
            <key>Add-castCovenantOfSpar-bg (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{608,302},{200,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,237},{200,148}}</string>
                <key>sourceSize</key>
                <string>{400,620}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Add-castCovenantOfSpar-bg.png</string>
            <key>size</key>
            <string>{1014,902}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:644596c1eb29c67c847cc129276e1276$</string>
            <key>textureFileName</key>
            <string>Add-castCovenantOfSpar-bg.png</string>
        </dict>
    </dict>
</plist>
