<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Add-castCovenantOfWind-bg (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Add-castCovenantOfWind-bg (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{410,554},{204,136}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,234},{204,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Add-castCovenantOfWind-bg (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{410,416},{204,136}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,234},{204,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Add-castCovenantOfWind-bg (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{208,834},{204,136}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,234},{204,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Add-castCovenantOfWind-bg (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{208,696},{204,136}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,234},{204,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Add-castCovenantOfWind-bg (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{206,278},{204,136}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,234},{204,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Add-castCovenantOfWind-bg (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{206,140},{204,136}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,234},{204,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Add-castCovenantOfWind-bg (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{204,558},{204,136}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,234},{204,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Add-castCovenantOfWind-bg (17).png</key>
            <dict>
                <key>frame</key>
                <string>{{204,420},{204,136}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,234},{204,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Add-castCovenantOfWind-bg (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{204,136}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,234},{204,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Add-castCovenantOfWind-bg (19).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{204,136}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,234},{204,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Add-castCovenantOfWind-bg (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{820,416},{202,136}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,234},{202,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Add-castCovenantOfWind-bg (20).png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{204,136}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,234},{204,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Add-castCovenantOfWind-bg (21).png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{204,136}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,234},{204,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Add-castCovenantOfWind-bg (22).png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{204,136}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,234},{204,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Add-castCovenantOfWind-bg (23).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,136}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,234},{204,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Add-castCovenantOfWind-bg (24).png</key>
            <dict>
                <key>frame</key>
                <string>{{414,692},{202,136}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,234},{202,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Add-castCovenantOfWind-bg (25).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{202,138}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,233},{202,138}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Add-castCovenantOfWind-bg (26).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{202,138}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,233},{202,138}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Add-castCovenantOfWind-bg (27).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{200,138}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,233},{200,138}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Add-castCovenantOfWind-bg (28).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{200,138}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,234},{200,138}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Add-castCovenantOfWind-bg (29).png</key>
            <dict>
                <key>frame</key>
                <string>{{618,140},{198,136}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,235},{198,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Add-castCovenantOfWind-bg (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{618,278},{202,136}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,234},{202,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Add-castCovenantOfWind-bg (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{820,140},{202,136}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,234},{202,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Add-castCovenantOfWind-bg (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{616,554},{202,136}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,234},{202,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Add-castCovenantOfWind-bg (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{616,416},{202,136}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,234},{202,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Add-castCovenantOfWind-bg (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{414,830},{202,136}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,234},{202,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Add-castCovenantOfWind-bg (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{412,278},{204,136}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,234},{204,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Add-castCovenantOfWind-bg (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{412,140},{204,136}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,234},{204,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Add-castCovenantOfWind-bg.png</string>
            <key>size</key>
            <string>{1024,976}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96485ea17f64e9b3d59d1b72671cfa3e$</string>
            <key>textureFileName</key>
            <string>Add-castCovenantOfWind-bg.png</string>
        </dict>
    </dict>
</plist>
