<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Add-castAntigravity-bg (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,214},{286,212}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,298},{286,212}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-bg (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{302,216}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,300},{302,216}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-bg (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{306,640},{304,216}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,300},{304,216}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-bg (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{612,644},{306,216}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,300},{306,216}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-bg (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,644},{308,216}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,300},{308,216}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-bg (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,644},{308,216}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,300},{308,216}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-bg (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{920,644},{308,216}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,299},{308,216}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-bg (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,428},{310,214}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,298},{310,214}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-bg (17).png</key>
            <dict>
                <key>frame</key>
                <string>{{600,426},{310,212}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,298},{310,212}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-bg (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,2},{310,210}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,298},{310,210}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-bg (19).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{310,206}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,298},{310,206}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-bg (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{582,212},{288,212}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,299},{288,212}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-bg (20).png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{306,208}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,297},{306,208}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-bg (21).png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{300,208}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,298},{300,208}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-bg (22).png</key>
            <dict>
                <key>frame</key>
                <string>{{924,2},{294,208}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,298},{294,208}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-bg (23).png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,2},{292,210}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,297},{292,210}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-bg (24).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{290,210}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,298},{290,210}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-bg (25).png</key>
            <dict>
                <key>frame</key>
                <string>{{294,212},{286,212}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,297},{286,212}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-bg (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{872,212},{290,212}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,299},{290,212}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-bg (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,214},{292,212}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,300},{292,212}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-bg (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,214},{294,212}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,301},{294,212}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-bg (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{296,212}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,302},{296,212}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-bg (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{300,426},{298,212}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,302},{298,212}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-bg (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{912,428},{300,214}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,301},{300,214}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-bg (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,428},{302,214}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,301},{302,214}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Add-castAntigravity-bg.png</string>
            <key>size</key>
            <string>{2042,862}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:644d605f9a92bb6a1e93fcc412460ea7$</string>
            <key>textureFileName</key>
            <string>Add-castAntigravity-bg.png</string>
        </dict>
    </dict>
</plist>
