<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Add-castCovenantOfIce-up (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1408},{204,346}}</string>
                <key>offset</key>
                <string>{-6,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,33},{204,346}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>Add-castCovenantOfIce-up (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,2},{278,346}}</string>
                <key>offset</key>
                <string>{17,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,34},{278,346}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>Add-castCovenantOfIce-up (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1056},{276,344}}</string>
                <key>offset</key>
                <string>{18,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,36},{276,344}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>Add-castCovenantOfIce-up (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{282,350}}</string>
                <key>offset</key>
                <string>{11,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,31},{282,350}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>Add-castCovenantOfIce-up (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1096},{282,352}}</string>
                <key>offset</key>
                <string>{8,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,29},{282,352}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>Add-castCovenantOfIce-up (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1450},{278,350}}</string>
                <key>offset</key>
                <string>{5,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,30},{278,350}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>Add-castCovenantOfIce-up (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{278,370},{276,352}}</string>
                <key>offset</key>
                <string>{1,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,29},{276,352}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>Add-castCovenantOfIce-up (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{274,366}}</string>
                <key>offset</key>
                <string>{-2,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,30},{274,366}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>Add-castCovenantOfIce-up (17).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,366}}</string>
                <key>offset</key>
                <string>{-2,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,30},{278,366}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>Add-castCovenantOfIce-up (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{276,738},{280,352}}</string>
                <key>offset</key>
                <string>{-1,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,33},{280,352}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>Add-castCovenantOfIce-up (19).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{272,356}}</string>
                <key>offset</key>
                <string>{-5,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,35},{272,356}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>Add-castCovenantOfIce-up (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{558,706},{204,350}}</string>
                <key>offset</key>
                <string>{-6,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,30},{204,350}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>Add-castCovenantOfIce-up (20).png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1454},{282,352}}</string>
                <key>offset</key>
                <string>{0,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,39},{282,352}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>Add-castCovenantOfIce-up (21).png</key>
            <dict>
                <key>frame</key>
                <string>{{764,706},{280,348}}</string>
                <key>offset</key>
                <string>{1,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,40},{280,348}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>Add-castCovenantOfIce-up (22).png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,350},{278,332}}</string>
                <key>offset</key>
                <string>{0,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,53},{278,332}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>Add-castCovenantOfIce-up (23).png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,1038},{268,330}}</string>
                <key>offset</key>
                <string>{-3,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,53},{268,330}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>Add-castCovenantOfIce-up (24).png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,684},{286,328}}</string>
                <key>offset</key>
                <string>{7,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,53},{286,328}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>Add-castCovenantOfIce-up (25).png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,2},{282,320}}</string>
                <key>offset</key>
                <string>{10,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,46},{282,320}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>Add-castCovenantOfIce-up (26).png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,336},{282,320}}</string>
                <key>offset</key>
                <string>{13,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,44},{282,320}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>Add-castCovenantOfIce-up (27).png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,1370},{280,302}}</string>
                <key>offset</key>
                <string>{16,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,62},{280,302}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>Add-castCovenantOfIce-up (28).png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1756},{278,280}}</string>
                <key>offset</key>
                <string>{17,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,88},{278,280}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>Add-castCovenantOfIce-up (29).png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,1014},{276,294}}</string>
                <key>offset</key>
                <string>{18,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,75},{276,294}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>Add-castCovenantOfIce-up (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1454},{266,356}}</string>
                <key>offset</key>
                <string>{-4,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,30},{266,356}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>Add-castCovenantOfIce-up (30).png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,1734},{282,312}}</string>
                <key>offset</key>
                <string>{11,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,61},{282,312}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>Add-castCovenantOfIce-up (31).png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1402},{282,330}}</string>
                <key>offset</key>
                <string>{8,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,51},{282,330}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>Add-castCovenantOfIce-up (32).png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,704},{278,332}}</string>
                <key>offset</key>
                <string>{5,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,47},{278,332}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>Add-castCovenantOfIce-up (33).png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,2},{276,332}}</string>
                <key>offset</key>
                <string>{1,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,49},{276,332}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>Add-castCovenantOfIce-up (34).png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,658},{274,272}}</string>
                <key>offset</key>
                <string>{-2,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,108},{274,272}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>Add-castCovenantOfIce-up (35).png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,324},{278,270}}</string>
                <key>offset</key>
                <string>{-3,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,109},{278,270}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>Add-castCovenantOfIce-up (36).png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,932},{276,266}}</string>
                <key>offset</key>
                <string>{-1,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,111},{276,266}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>Add-castCovenantOfIce-up (37).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1812},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>Add-castCovenantOfIce-up (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1096},{270,356}}</string>
                <key>offset</key>
                <string>{-3,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,29},{270,356}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>Add-castCovenantOfIce-up (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{268,352}}</string>
                <key>offset</key>
                <string>{-3,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,31},{268,352}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>Add-castCovenantOfIce-up (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1058},{286,348}}</string>
                <key>offset</key>
                <string>{7,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,33},{286,348}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>Add-castCovenantOfIce-up (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{836,2},{282,350}}</string>
                <key>offset</key>
                <string>{10,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,31},{282,350}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>Add-castCovenantOfIce-up (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{556,354},{282,350}}</string>
                <key>offset</key>
                <string>{13,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,31},{282,350}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>Add-castCovenantOfIce-up (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{840,354},{280,348}}</string>
                <key>offset</key>
                <string>{16,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,33},{280,348}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Add-castCovenantOfIce-up.png</string>
            <key>size</key>
            <string>{1966,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b03b80bdffb1ad39deeb5a0865c56a9$</string>
            <key>textureFileName</key>
            <string>Add-castCovenantOfIce-up.png</string>
        </dict>
    </dict>
</plist>
