<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Add-castAntigravity-up (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{974,1164},{476,362}}</string>
                <key>offset</key>
                <string>{11,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,153},{476,362}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-up (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{990,2},{490,390}}</string>
                <key>offset</key>
                <string>{15,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,130},{490,390}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-up (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{492,392}}</string>
                <key>offset</key>
                <string>{15,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,125},{492,392}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-up (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{492,398}}</string>
                <key>offset</key>
                <string>{17,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,117},{492,398}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-up (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,2},{488,404}}</string>
                <key>offset</key>
                <string>{14,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,110},{488,404}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-up (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{488,352}}</string>
                <key>offset</key>
                <string>{13,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,159},{488,352}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-up (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1134},{482,352}}</string>
                <key>offset</key>
                <string>{10,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,156},{482,352}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-up (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1488},{474,350}}</string>
                <key>offset</key>
                <string>{7,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,153},{474,350}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-up (17).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1532},{470,344}}</string>
                <key>offset</key>
                <string>{9,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,158},{470,344}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-up (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,1174},{468,348}}</string>
                <key>offset</key>
                <string>{12,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,155},{468,348}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-up (19).png</key>
            <dict>
                <key>frame</key>
                <string>{{958,1528},{464,352}}</string>
                <key>offset</key>
                <string>{13,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,152},{464,352}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-up (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{490,768},{486,364}}</string>
                <key>offset</key>
                <string>{13,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,152},{486,364}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-up (20).png</key>
            <dict>
                <key>frame</key>
                <string>{{938,1882},{462,358}}</string>
                <key>offset</key>
                <string>{14,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,148},{462,358}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-up (21).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1878},{462,364}}</string>
                <key>offset</key>
                <string>{17,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,144},{462,364}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-up (22).png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1840},{462,368}}</string>
                <key>offset</key>
                <string>{17,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,141},{462,368}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-up (23).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2244},{458,354}}</string>
                <key>offset</key>
                <string>{14,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,157},{458,354}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-up (24).png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2210},{458,356}}</string>
                <key>offset</key>
                <string>{13,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,156},{458,356}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-up (25).png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,1524},{464,360}}</string>
                <key>offset</key>
                <string>{13,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,154},{464,360}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-up (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{496,396},{488,370}}</string>
                <key>offset</key>
                <string>{16,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,148},{488,370}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-up (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{990,394},{488,374}}</string>
                <key>offset</key>
                <string>{18,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,144},{488,374}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-up (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,408},{484,378}}</string>
                <key>offset</key>
                <string>{18,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,141},{484,378}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-up (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,788},{476,384}}</string>
                <key>offset</key>
                <string>{18,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,136},{476,384}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-up (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1142},{478,388}}</string>
                <key>offset</key>
                <string>{15,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,132},{478,388}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-up (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{978,770},{482,392}}</string>
                <key>offset</key>
                <string>{14,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,128},{482,392}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>Add-castAntigravity-up (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{486,384}}</string>
                <key>offset</key>
                <string>{15,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,137},{486,384}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Add-castAntigravity-up.png</string>
            <key>size</key>
            <string>{1972,2600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a62d392162a955efc324d1dfaac2fc77$</string>
            <key>textureFileName</key>
            <string>Add-castAntigravity-up.png</string>
        </dict>
    </dict>
</plist>
