<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Add-attackMage-e (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{202,160}}</string>
                <key>offset</key>
                <string>{-16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,55},{202,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Add-attackMage-e (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Add-attackMage-e (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,160}}</string>
                <key>offset</key>
                <string>{-16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,55},{202,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Add-attackMage-e (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{172,162}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,45},{172,162}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Add-attackMage-e (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{184,336},{168,170}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,36},{168,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Add-attackMage-e (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{184,164},{168,170}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,36},{168,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Add-attackMage-e (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{180,182}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,30},{180,182}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Add-attackMage-e (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{50,138}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,61},{50,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Add-attackMage-e (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{44,146}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,57},{44,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Add-attackMage-e (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{410,142},{12,12}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,123},{12,12}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Add-attackMage-e.png</string>
            <key>size</key>
            <string>{510,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:625f43ccc35457e1552cd336f01d1606$</string>
            <key>textureFileName</key>
            <string>Add-attackMage-e.png</string>
        </dict>
    </dict>
</plist>
