<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Add-castRoot (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1250},{96,6}}</string>
                <key>offset</key>
                <string>{-100,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,199},{96,6}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{342,610},{336,120}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,88},{336,120}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{342,120}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,88},{342,120}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{344,124},{340,120}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,88},{340,120}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{682,368},{338,120}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,88},{338,120}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{342,368},{338,120}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,88},{338,120}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{338,120}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,88},{338,120}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{338,118}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,90},{338,118}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (17).png</key>
            <dict>
                <key>frame</key>
                <string>{{682,490},{338,118}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,90},{338,118}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{680,730},{336,118}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,90},{336,118}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (19).png</key>
            <dict>
                <key>frame</key>
                <string>{{676,850},{334,118}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,90},{334,118}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1216},{76,8}}</string>
                <key>offset</key>
                <string>{-110,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,200},{76,8}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (20).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,850},{334,118}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,90},{334,118}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (21).png</key>
            <dict>
                <key>frame</key>
                <string>{{680,610},{336,118}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,90},{336,118}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (22).png</key>
            <dict>
                <key>frame</key>
                <string>{{680,610},{336,118}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,90},{336,118}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (23).png</key>
            <dict>
                <key>frame</key>
                <string>{{680,610},{336,118}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,90},{336,118}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (24).png</key>
            <dict>
                <key>frame</key>
                <string>{{680,610},{336,118}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,90},{336,118}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (25).png</key>
            <dict>
                <key>frame</key>
                <string>{{680,610},{336,118}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,90},{336,118}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (26).png</key>
            <dict>
                <key>frame</key>
                <string>{{680,610},{336,118}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,90},{336,118}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (27).png</key>
            <dict>
                <key>frame</key>
                <string>{{680,610},{336,118}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,90},{336,118}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (28).png</key>
            <dict>
                <key>frame</key>
                <string>{{680,610},{336,118}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,90},{336,118}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (29).png</key>
            <dict>
                <key>frame</key>
                <string>{{680,610},{336,118}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,90},{336,118}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1240},{130,16}}</string>
                <key>offset</key>
                <string>{-84,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,192},{130,16}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (30).png</key>
            <dict>
                <key>frame</key>
                <string>{{680,610},{336,118}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,90},{336,118}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (31).png</key>
            <dict>
                <key>frame</key>
                <string>{{680,610},{336,118}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,90},{336,118}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (32).png</key>
            <dict>
                <key>frame</key>
                <string>{{680,610},{336,118}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,90},{336,118}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (33).png</key>
            <dict>
                <key>frame</key>
                <string>{{680,610},{336,118}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,90},{336,118}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (34).png</key>
            <dict>
                <key>frame</key>
                <string>{{680,610},{336,118}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,90},{336,118}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (35).png</key>
            <dict>
                <key>frame</key>
                <string>{{680,610},{336,118}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,90},{336,118}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (36).png</key>
            <dict>
                <key>frame</key>
                <string>{{680,610},{336,118}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,90},{336,118}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (37).png</key>
            <dict>
                <key>frame</key>
                <string>{{680,610},{336,118}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,90},{336,118}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (38).png</key>
            <dict>
                <key>frame</key>
                <string>{{680,610},{336,118}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,90},{336,118}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (39).png</key>
            <dict>
                <key>frame</key>
                <string>{{680,610},{336,118}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,90},{336,118}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1214},{134,24}}</string>
                <key>offset</key>
                <string>{-82,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,184},{134,24}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (40).png</key>
            <dict>
                <key>frame</key>
                <string>{{680,610},{336,118}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,90},{336,118}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (41).png</key>
            <dict>
                <key>frame</key>
                <string>{{680,610},{336,118}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,90},{336,118}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (42).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,850},{334,118}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,90},{334,118}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (43).png</key>
            <dict>
                <key>frame</key>
                <string>{{340,732},{334,118}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,90},{334,118}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (44).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{336,118}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,90},{336,118}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (45).png</key>
            <dict>
                <key>frame</key>
                <string>{{342,490},{338,118}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,90},{338,118}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (46).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{338,118}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,90},{338,118}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (47).png</key>
            <dict>
                <key>frame</key>
                <string>{{682,246},{338,120}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,88},{338,120}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (48).png</key>
            <dict>
                <key>frame</key>
                <string>{{342,246},{338,120}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,88},{338,120}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (49).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{338,120}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,88},{338,120}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1210},{298,104}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,104},{298,104}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (50).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{340,120}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,88},{340,120}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (51).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{342,120}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,88},{342,120}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (52).png</key>
            <dict>
                <key>frame</key>
                <string>{{686,124},{336,120}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,88},{336,120}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (53).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{330,120}}</string>
                <key>offset</key>
                <string>{-17,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,88},{330,120}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (54).png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{332,120}}</string>
                <key>offset</key>
                <string>{-17,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,88},{332,120}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (55).png</key>
            <dict>
                <key>frame</key>
                <string>{{334,974},{324,120}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,88},{324,120}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (56).png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1092},{298,112}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,96},{298,112}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (57).png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1206},{298,104}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,104},{298,104}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (58).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1214},{134,24}}</string>
                <key>offset</key>
                <string>{-82,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,184},{134,24}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (59).png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1206},{88,8}}</string>
                <key>offset</key>
                <string>{-105,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,200},{88,8}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1096},{298,112}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,96},{298,112}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (60).png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1240},{102,8}}</string>
                <key>offset</key>
                <string>{-98,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,200},{102,8}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1092},{324,120}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,88},{324,120}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{338,852},{332,120}}</string>
                <key>offset</key>
                <string>{-17,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,88},{332,120}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Add-castRoot (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{672,970},{330,120}}</string>
                <key>offset</key>
                <string>{-17,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,88},{330,120}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Add-castRoot.png</string>
            <key>size</key>
            <string>{1024,1316}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9c84bd108ed2450b01a0715bf6b5142$</string>
            <key>textureFileName</key>
            <string>Add-castRoot.png</string>
        </dict>
    </dict>
</plist>
