<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Add-cleave (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,2},{406,202}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,43},{406,202}}</string>
                <key>sourceSize</key>
                <string>{420,250}</string>
            </dict>
            <key>Add-cleave (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,2},{384,190}}</string>
                <key>offset</key>
                <string>{18,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,6},{384,190}}</string>
                <key>sourceSize</key>
                <string>{420,250}</string>
            </dict>
            <key>Add-cleave (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,230}}</string>
                <key>offset</key>
                <string>{35,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,12},{350,230}}</string>
                <key>sourceSize</key>
                <string>{420,250}</string>
            </dict>
            <key>Add-cleave (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,206},{400,194}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{400,194}}</string>
                <key>sourceSize</key>
                <string>{420,250}</string>
            </dict>
            <key>Add-cleave (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{340,222}}</string>
                <key>offset</key>
                <string>{-39,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{340,222}}</string>
                <key>sourceSize</key>
                <string>{420,250}</string>
            </dict>
            <key>Add-cleave (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,224},{398,208}}</string>
                <key>offset</key>
                <string>{11,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,36},{398,208}}</string>
                <key>sourceSize</key>
                <string>{420,250}</string>
            </dict>
            <key>Add-cleave (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{340,234},{356,228}}</string>
                <key>offset</key>
                <string>{32,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,6},{356,228}}</string>
                <key>sourceSize</key>
                <string>{420,250}</string>
            </dict>
            <key>Add-cleave (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{698,224},{396,216}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{396,216}}</string>
                <key>sourceSize</key>
                <string>{420,250}</string>
            </dict>
            <key>Add-cleave (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{400,220}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{400,220}}</string>
                <key>sourceSize</key>
                <string>{420,250}</string>
            </dict>
            <key>Add-cleave (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{336,230}}</string>
                <key>offset</key>
                <string>{42,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,16},{336,230}}</string>
                <key>sourceSize</key>
                <string>{420,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Add-cleave.png</string>
            <key>size</key>
            <string>{2048,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c43190746dd3203e50db988723678ea$</string>
            <key>textureFileName</key>
            <string>Add-cleave.png</string>
        </dict>
    </dict>
</plist>
