<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Add-castDispel (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,650},{338,338}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,94},{338,338}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Add-castDispel (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{374,336}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,88},{374,336}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Add-castDispel (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{374,332}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,91},{374,332}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Add-castDispel (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{372,326}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,96},{372,326}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Add-castDispel (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1006},{366,308}}</string>
                <key>offset</key>
                <string>{13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,109},{366,308}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Add-castDispel (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,358},{354,290}}</string>
                <key>offset</key>
                <string>{15,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,122},{354,290}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Add-castDispel (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{748,708},{322,278}}</string>
                <key>offset</key>
                <string>{22,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,127},{322,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Add-castDispel (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{748,988},{298,262}}</string>
                <key>offset</key>
                <string>{10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,143},{298,262}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Add-castDispel (17).png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1030},{298,254}}</string>
                <key>offset</key>
                <string>{9,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,150},{298,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Add-castDispel (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,952},{296,248}}</string>
                <key>offset</key>
                <string>{10,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,157},{296,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Add-castDispel (19).png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,702},{296,248}}</string>
                <key>offset</key>
                <string>{10,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,157},{296,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Add-castDispel (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,2},{362,348}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,85},{362,348}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Add-castDispel (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,352},{360,348}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,85},{360,348}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Add-castDispel (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{372,352}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,82},{372,352}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Add-castDispel (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,2},{370,354}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,82},{370,354}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Add-castDispel (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{752,356},{370,350}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,82},{370,350}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Add-castDispel (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{376,680},{370,348}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,86},{370,348}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Add-castDispel (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{378,336},{372,342}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,88},{372,342}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Add-castDispel (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{372,336}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,89},{372,336}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Add-castDispel.png</string>
            <key>size</key>
            <string>{1864,1316}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81b3b24fc66d9044cd28b3529515f2ff$</string>
            <key>textureFileName</key>
            <string>Add-castDispel.png</string>
        </dict>
    </dict>
</plist>
