<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Add-castWindstorm (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{3474,828},{484,382}}</string>
                <key>offset</key>
                <string>{16,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,71},{484,382}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>Add-castWindstorm (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,462},{596,456}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,27},{596,456}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>Add-castWindstorm (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,2},{600,446}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,31},{600,446}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>Add-castWindstorm (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{2920,2},{586,424}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,48},{586,424}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>Add-castWindstorm (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{2370,450},{592,436}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,30},{592,436}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>Add-castWindstorm (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{2368,894},{632,436}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,29},{632,436}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>Add-castWindstorm (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,1374},{642,446}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,21},{642,446}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>Add-castWindstorm (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,894},{570,438}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,31},{570,438}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>Add-castWindstorm (17).png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{542,458}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,22},{542,458}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>Add-castWindstorm (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,2},{594,454}}</string>
                <key>offset</key>
                <string>{19,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,28},{594,454}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>Add-castWindstorm (19).png</key>
            <dict>
                <key>frame</key>
                <string>{{3508,2},{546,420}}</string>
                <key>offset</key>
                <string>{24,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,53},{546,420}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>Add-castWindstorm (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2422,1332},{476,408}}</string>
                <key>offset</key>
                <string>{24,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,58},{476,408}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>Add-castWindstorm (20).png</key>
            <dict>
                <key>frame</key>
                <string>{{2964,428},{508,414}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,53},{508,414}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>Add-castWindstorm (21).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{608,484}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,9},{608,484}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>Add-castWindstorm (22).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{636,484}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,7},{636,484}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>Add-castWindstorm (23).png</key>
            <dict>
                <key>frame</key>
                <string>{{612,488},{568,460}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,17},{568,460}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>Add-castWindstorm (24).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{612,462}}</string>
                <key>offset</key>
                <string>{14,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,5},{612,462}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>Add-castWindstorm (25).png</key>
            <dict>
                <key>frame</key>
                <string>{{3508,424},{522,402}}</string>
                <key>offset</key>
                <string>{41,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,52},{522,402}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>Add-castWindstorm (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{2382,2},{536,434}}</string>
                <key>offset</key>
                <string>{35,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,41},{536,434}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>Add-castWindstorm (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,450},{588,442}}</string>
                <key>offset</key>
                <string>{34,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,35},{588,442}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>Add-castWindstorm (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1408},{588,454}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,21},{588,454}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>Add-castWindstorm (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{616,950},{600,456}}</string>
                <key>offset</key>
                <string>{-13,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,18},{600,456}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>Add-castWindstorm (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1438},{618,456}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,20},{618,456}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>Add-castWindstorm (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,920},{576,452}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,25},{576,452}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>Add-castWindstorm (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,1408},{564,454}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,18},{564,454}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Add-castWindstorm.png</string>
            <key>size</key>
            <string>{4056,1896}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b4990a2d9b756d3c691554e64aea293$</string>
            <key>textureFileName</key>
            <string>Add-castWindstorm.png</string>
        </dict>
    </dict>
</plist>
