<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Add-castCovenantOfFire-up (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,2},{212,320}}</string>
                <key>offset</key>
                <string>{1,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,41},{212,320}}</string>
                <key>sourceSize</key>
                <string>{500,600}</string>
            </dict>
            <key>Add-castCovenantOfFire-up (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{208,322}}</string>
                <key>offset</key>
                <string>{1,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,40},{208,322}}</string>
                <key>sourceSize</key>
                <string>{500,600}</string>
            </dict>
            <key>Add-castCovenantOfFire-up (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{214,660},{210,324}}</string>
                <key>offset</key>
                <string>{1,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,38},{210,324}}</string>
                <key>sourceSize</key>
                <string>{500,600}</string>
            </dict>
            <key>Add-castCovenantOfFire-up (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,328}}</string>
                <key>offset</key>
                <string>{1,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,34},{212,328}}</string>
                <key>sourceSize</key>
                <string>{500,600}</string>
            </dict>
            <key>Add-castCovenantOfFire-up (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{210,328}}</string>
                <key>offset</key>
                <string>{2,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,33},{210,328}}</string>
                <key>sourceSize</key>
                <string>{500,600}</string>
            </dict>
            <key>Add-castCovenantOfFire-up (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{214,332},{208,326}}</string>
                <key>offset</key>
                <string>{1,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,35},{208,326}}</string>
                <key>sourceSize</key>
                <string>{500,600}</string>
            </dict>
            <key>Add-castCovenantOfFire-up (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{636,652},{208,322}}</string>
                <key>offset</key>
                <string>{0,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,39},{208,322}}</string>
                <key>sourceSize</key>
                <string>{500,600}</string>
            </dict>
            <key>Add-castCovenantOfFire-up (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,324},{208,318}}</string>
                <key>offset</key>
                <string>{1,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,43},{208,318}}</string>
                <key>sourceSize</key>
                <string>{500,600}</string>
            </dict>
            <key>Add-castCovenantOfFire-up (17).png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,2},{210,316}}</string>
                <key>offset</key>
                <string>{1,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,45},{210,316}}</string>
                <key>sourceSize</key>
                <string>{500,600}</string>
            </dict>
            <key>Add-castCovenantOfFire-up (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,646},{210,318}}</string>
                <key>offset</key>
                <string>{2,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,43},{210,318}}</string>
                <key>sourceSize</key>
                <string>{500,600}</string>
            </dict>
            <key>Add-castCovenantOfFire-up (19).png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,324},{210,320}}</string>
                <key>offset</key>
                <string>{2,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,41},{210,320}}</string>
                <key>sourceSize</key>
                <string>{500,600}</string>
            </dict>
            <key>Add-castCovenantOfFire-up (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{424,330},{210,324}}</string>
                <key>offset</key>
                <string>{1,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,38},{210,324}}</string>
                <key>sourceSize</key>
                <string>{500,600}</string>
            </dict>
            <key>Add-castCovenantOfFire-up (20).png</key>
            <dict>
                <key>frame</key>
                <string>{{636,328},{208,322}}</string>
                <key>offset</key>
                <string>{2,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,39},{208,322}}</string>
                <key>sourceSize</key>
                <string>{500,600}</string>
            </dict>
            <key>Add-castCovenantOfFire-up (21).png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,644},{206,316}}</string>
                <key>offset</key>
                <string>{1,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,45},{206,316}}</string>
                <key>sourceSize</key>
                <string>{500,600}</string>
            </dict>
            <key>Add-castCovenantOfFire-up (22).png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,644},{200,300}}</string>
                <key>offset</key>
                <string>{3,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,55},{200,300}}</string>
                <key>sourceSize</key>
                <string>{500,600}</string>
            </dict>
            <key>Add-castCovenantOfFire-up (23).png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,320},{198,286}}</string>
                <key>offset</key>
                <string>{3,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,67},{198,286}}</string>
                <key>sourceSize</key>
                <string>{500,600}</string>
            </dict>
            <key>Add-castCovenantOfFire-up (24).png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,2},{190,234}}</string>
                <key>offset</key>
                <string>{-1,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,114},{190,234}}</string>
                <key>sourceSize</key>
                <string>{500,600}</string>
            </dict>
            <key>Add-castCovenantOfFire-up (25).png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,2},{186,224}}</string>
                <key>offset</key>
                <string>{0,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,122},{186,224}}</string>
                <key>sourceSize</key>
                <string>{500,600}</string>
            </dict>
            <key>Add-castCovenantOfFire-up (26).png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,962},{4,58}}</string>
                <key>offset</key>
                <string>{-43,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,265},{4,58}}</string>
                <key>sourceSize</key>
                <string>{500,600}</string>
            </dict>
            <key>Add-castCovenantOfFire-up (27).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,990},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{500,600}</string>
            </dict>
            <key>Add-castCovenantOfFire-up (28).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,990},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{500,600}</string>
            </dict>
            <key>Add-castCovenantOfFire-up (29).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,990},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{500,600}</string>
            </dict>
            <key>Add-castCovenantOfFire-up (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{208,324}}</string>
                <key>offset</key>
                <string>{1,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,38},{208,324}}</string>
                <key>sourceSize</key>
                <string>{500,600}</string>
            </dict>
            <key>Add-castCovenantOfFire-up (30).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,990},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{500,600}</string>
            </dict>
            <key>Add-castCovenantOfFire-up (31).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,990},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{500,600}</string>
            </dict>
            <key>Add-castCovenantOfFire-up (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{426,656},{208,324}}</string>
                <key>offset</key>
                <string>{2,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,38},{208,324}}</string>
                <key>sourceSize</key>
                <string>{500,600}</string>
            </dict>
            <key>Add-castCovenantOfFire-up (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{210,326}}</string>
                <key>offset</key>
                <string>{1,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,36},{210,326}}</string>
                <key>sourceSize</key>
                <string>{500,600}</string>
            </dict>
            <key>Add-castCovenantOfFire-up (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{208,326}}</string>
                <key>offset</key>
                <string>{1,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,36},{208,326}}</string>
                <key>sourceSize</key>
                <string>{500,600}</string>
            </dict>
            <key>Add-castCovenantOfFire-up (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{208,324}}</string>
                <key>offset</key>
                <string>{0,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,38},{208,324}}</string>
                <key>sourceSize</key>
                <string>{500,600}</string>
            </dict>
            <key>Add-castCovenantOfFire-up (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{846,650},{208,322}}</string>
                <key>offset</key>
                <string>{0,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,40},{208,322}}</string>
                <key>sourceSize</key>
                <string>{500,600}</string>
            </dict>
            <key>Add-castCovenantOfFire-up (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{846,326},{208,322}}</string>
                <key>offset</key>
                <string>{1,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,40},{208,322}}</string>
                <key>sourceSize</key>
                <string>{500,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Add-castCovenantOfFire-up.png</string>
            <key>size</key>
            <string>{1862,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba7206c21ecf4b0f2b09142a04caa733$</string>
            <key>textureFileName</key>
            <string>Add-castCovenantOfFire-up.png</string>
        </dict>
    </dict>
</plist>
