<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Add-castLightningBolt (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{104,189}}</string>
                <key>offset</key>
                <string>{6,418}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{454,41},{104,189}}</string>
                <key>sourceSize</key>
                <string>{1000,1107}</string>
            </dict>
            <key>Add-castLightningBolt (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{664,601},{296,231}}</string>
                <key>offset</key>
                <string>{-38,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{314,462},{296,231}}</string>
                <key>sourceSize</key>
                <string>{1000,1107}</string>
            </dict>
            <key>Add-castLightningBolt (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{109,677},{324,239}}</string>
                <key>offset</key>
                <string>{-3,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{335,459},{324,239}}</string>
                <key>sourceSize</key>
                <string>{1000,1107}</string>
            </dict>
            <key>Add-castLightningBolt (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{350,578},{312,237}}</string>
                <key>offset</key>
                <string>{-4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,460},{312,237}}</string>
                <key>sourceSize</key>
                <string>{1000,1107}</string>
            </dict>
            <key>Add-castLightningBolt (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{332,109}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{336,480},{332,109}}</string>
                <key>sourceSize</key>
                <string>{1000,1107}</string>
            </dict>
            <key>Add-castLightningBolt (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,677},{326,105}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{337,481},{326,105}}</string>
                <key>sourceSize</key>
                <string>{1000,1107}</string>
            </dict>
            <key>Add-castLightningBolt (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{756,361},{118,247}}</string>
                <key>offset</key>
                <string>{6,335}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{447,95},{118,247}}</string>
                <key>sourceSize</key>
                <string>{1000,1107}</string>
            </dict>
            <key>Add-castLightningBolt (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{816,108},{124,251}}</string>
                <key>offset</key>
                <string>{18,240}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,188},{124,251}}</string>
                <key>sourceSize</key>
                <string>{1000,1107}</string>
            </dict>
            <key>Add-castLightningBolt (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{350,817},{104,233}}</string>
                <key>offset</key>
                <string>{8,151}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{456,286},{104,233}}</string>
                <key>sourceSize</key>
                <string>{1000,1107}</string>
            </dict>
            <key>Add-castLightningBolt (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{756,481},{118,243}}</string>
                <key>offset</key>
                <string>{6,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{447,361},{118,243}}</string>
                <key>sourceSize</key>
                <string>{1000,1107}</string>
            </dict>
            <key>Add-castLightningBolt (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{414,289}}</string>
                <key>offset</key>
                <string>{14,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{307,449},{414,289}}</string>
                <key>sourceSize</key>
                <string>{1000,1107}</string>
            </dict>
            <key>Add-castLightningBolt (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{396,283}}</string>
                <key>offset</key>
                <string>{5,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{307,445},{396,283}}</string>
                <key>sourceSize</key>
                <string>{1000,1107}</string>
            </dict>
            <key>Add-castLightningBolt (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{332,271}}</string>
                <key>offset</key>
                <string>{-14,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,463},{332,271}}</string>
                <key>sourceSize</key>
                <string>{1000,1107}</string>
            </dict>
            <key>Add-castLightningBolt (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{418,287},{336,289}}</string>
                <key>offset</key>
                <string>{-18,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{314,444},{336,289}}</string>
                <key>sourceSize</key>
                <string>{1000,1107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Add-castLightningBolt.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:292b0f35221bd0da11ef26d7b4fd8f06$</string>
            <key>textureFileName</key>
            <string>Add-castLightningBolt.png</string>
        </dict>
    </dict>
</plist>
