<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Add-castDrainLife-e (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{414,932},{306,88}}</string>
                <key>offset</key>
                <string>{-11,316}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,40},{306,88}}</string>
                <key>sourceSize</key>
                <string>{350,800}</string>
            </dict>
            <key>Add-castDrainLife-e (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{212,818},{200,126}}</string>
                <key>offset</key>
                <string>{9,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,301},{200,126}}</string>
                <key>sourceSize</key>
                <string>{350,800}</string>
            </dict>
            <key>Add-castDrainLife-e (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{414,814},{198,116}}</string>
                <key>offset</key>
                <string>{8,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,310},{198,116}}</string>
                <key>sourceSize</key>
                <string>{350,800}</string>
            </dict>
            <key>Add-castDrainLife-e (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{486,372},{190,98}}</string>
                <key>offset</key>
                <string>{5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,326},{190,98}}</string>
                <key>sourceSize</key>
                <string>{350,800}</string>
            </dict>
            <key>Add-castDrainLife-e (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{450,472},{168,88}}</string>
                <key>offset</key>
                <string>{4,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,334},{168,88}}</string>
                <key>sourceSize</key>
                <string>{350,800}</string>
            </dict>
            <key>Add-castDrainLife-e (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{212,946},{98,56}}</string>
                <key>offset</key>
                <string>{-22,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,363},{98,56}}</string>
                <key>sourceSize</key>
                <string>{350,800}</string>
            </dict>
            <key>Add-castDrainLife-e (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{284,330}}</string>
                <key>offset</key>
                <string>{-10,219}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{284,330}}</string>
                <key>sourceSize</key>
                <string>{350,800}</string>
            </dict>
            <key>Add-castDrainLife-e (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,426}}</string>
                <key>offset</key>
                <string>{6,160}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,27},{258,426}}</string>
                <key>sourceSize</key>
                <string>{350,800}</string>
            </dict>
            <key>Add-castDrainLife-e (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{224,430},{224,382}}</string>
                <key>offset</key>
                <string>{5,162}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,47},{224,382}}</string>
                <key>sourceSize</key>
                <string>{350,800}</string>
            </dict>
            <key>Add-castDrainLife-e (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{222,376}}</string>
                <key>offset</key>
                <string>{5,154}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,58},{222,376}}</string>
                <key>sourceSize</key>
                <string>{350,800}</string>
            </dict>
            <key>Add-castDrainLife-e (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{220,386}}</string>
                <key>offset</key>
                <string>{5,148}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,59},{220,386}}</string>
                <key>sourceSize</key>
                <string>{350,800}</string>
            </dict>
            <key>Add-castDrainLife-e (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{216,368}}</string>
                <key>offset</key>
                <string>{5,156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,60},{216,368}}</string>
                <key>sourceSize</key>
                <string>{350,800}</string>
            </dict>
            <key>Add-castDrainLife-e (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{722,334},{212,212}}</string>
                <key>offset</key>
                <string>{8,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,216},{212,212}}</string>
                <key>sourceSize</key>
                <string>{350,800}</string>
            </dict>
            <key>Add-castDrainLife-e (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{208,160}}</string>
                <key>offset</key>
                <string>{9,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,267},{208,160}}</string>
                <key>sourceSize</key>
                <string>{350,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Add-castDrainLife-e.png</string>
            <key>size</key>
            <string>{1008,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1c40a546ba81c17eb1f4681cfa4f1e1$</string>
            <key>textureFileName</key>
            <string>Add-castDrainLife-e.png</string>
        </dict>
    </dict>
</plist>
