<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Add-castHaste (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{4070,2006},{450,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1000}}</string>
                <key>sourceSize</key>
                <string>{450,1000}</string>
            </dict>
            <key>Add-castHaste (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{3166,1004},{450,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1000}}</string>
                <key>sourceSize</key>
                <string>{450,1000}</string>
            </dict>
            <key>Add-castHaste (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{3166,2},{450,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1000}}</string>
                <key>sourceSize</key>
                <string>{450,1000}</string>
            </dict>
            <key>Add-castHaste (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{2714,3008},{450,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1000}}</string>
                <key>sourceSize</key>
                <string>{450,1000}</string>
            </dict>
            <key>Add-castHaste (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{2714,2006},{450,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1000}}</string>
                <key>sourceSize</key>
                <string>{450,1000}</string>
            </dict>
            <key>Add-castHaste (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{2714,1004},{450,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1000}}</string>
                <key>sourceSize</key>
                <string>{450,1000}</string>
            </dict>
            <key>Add-castHaste (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{2714,2},{450,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1000}}</string>
                <key>sourceSize</key>
                <string>{450,1000}</string>
            </dict>
            <key>Add-castHaste (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{2262,3008},{450,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1000}}</string>
                <key>sourceSize</key>
                <string>{450,1000}</string>
            </dict>
            <key>Add-castHaste (17).png</key>
            <dict>
                <key>frame</key>
                <string>{{2262,2006},{450,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1000}}</string>
                <key>sourceSize</key>
                <string>{450,1000}</string>
            </dict>
            <key>Add-castHaste (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{2262,1004},{450,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1000}}</string>
                <key>sourceSize</key>
                <string>{450,1000}</string>
            </dict>
            <key>Add-castHaste (19).png</key>
            <dict>
                <key>frame</key>
                <string>{{2262,2},{450,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1000}}</string>
                <key>sourceSize</key>
                <string>{450,1000}</string>
            </dict>
            <key>Add-castHaste (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{4070,1004},{450,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1000}}</string>
                <key>sourceSize</key>
                <string>{450,1000}</string>
            </dict>
            <key>Add-castHaste (20).png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,3008},{450,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1000}}</string>
                <key>sourceSize</key>
                <string>{450,1000}</string>
            </dict>
            <key>Add-castHaste (21).png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,2006},{450,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1000}}</string>
                <key>sourceSize</key>
                <string>{450,1000}</string>
            </dict>
            <key>Add-castHaste (22).png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,1004},{450,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1000}}</string>
                <key>sourceSize</key>
                <string>{450,1000}</string>
            </dict>
            <key>Add-castHaste (23).png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,2},{450,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1000}}</string>
                <key>sourceSize</key>
                <string>{450,1000}</string>
            </dict>
            <key>Add-castHaste (24).png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,3008},{450,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1000}}</string>
                <key>sourceSize</key>
                <string>{450,1000}</string>
            </dict>
            <key>Add-castHaste (25).png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,2006},{450,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1000}}</string>
                <key>sourceSize</key>
                <string>{450,1000}</string>
            </dict>
            <key>Add-castHaste (26).png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,1004},{450,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1000}}</string>
                <key>sourceSize</key>
                <string>{450,1000}</string>
            </dict>
            <key>Add-castHaste (27).png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,2},{450,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1000}}</string>
                <key>sourceSize</key>
                <string>{450,1000}</string>
            </dict>
            <key>Add-castHaste (28).png</key>
            <dict>
                <key>frame</key>
                <string>{{906,3008},{450,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1000}}</string>
                <key>sourceSize</key>
                <string>{450,1000}</string>
            </dict>
            <key>Add-castHaste (29).png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2006},{450,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1000}}</string>
                <key>sourceSize</key>
                <string>{450,1000}</string>
            </dict>
            <key>Add-castHaste (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{4070,2},{450,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1000}}</string>
                <key>sourceSize</key>
                <string>{450,1000}</string>
            </dict>
            <key>Add-castHaste (30).png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1004},{450,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1000}}</string>
                <key>sourceSize</key>
                <string>{450,1000}</string>
            </dict>
            <key>Add-castHaste (31).png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{450,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1000}}</string>
                <key>sourceSize</key>
                <string>{450,1000}</string>
            </dict>
            <key>Add-castHaste (32).png</key>
            <dict>
                <key>frame</key>
                <string>{{3618,2},{450,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1000}}</string>
                <key>sourceSize</key>
                <string>{450,1000}</string>
            </dict>
            <key>Add-castHaste (33).png</key>
            <dict>
                <key>frame</key>
                <string>{{454,3008},{450,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1000}}</string>
                <key>sourceSize</key>
                <string>{450,1000}</string>
            </dict>
            <key>Add-castHaste (34).png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2006},{450,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1000}}</string>
                <key>sourceSize</key>
                <string>{450,1000}</string>
            </dict>
            <key>Add-castHaste (35).png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1004},{450,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1000}}</string>
                <key>sourceSize</key>
                <string>{450,1000}</string>
            </dict>
            <key>Add-castHaste (36).png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{450,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1000}}</string>
                <key>sourceSize</key>
                <string>{450,1000}</string>
            </dict>
            <key>Add-castHaste (37).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3008},{450,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1000}}</string>
                <key>sourceSize</key>
                <string>{450,1000}</string>
            </dict>
            <key>Add-castHaste (38).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2006},{450,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1000}}</string>
                <key>sourceSize</key>
                <string>{450,1000}</string>
            </dict>
            <key>Add-castHaste (39).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1004},{450,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1000}}</string>
                <key>sourceSize</key>
                <string>{450,1000}</string>
            </dict>
            <key>Add-castHaste (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{3618,3008},{450,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1000}}</string>
                <key>sourceSize</key>
                <string>{450,1000}</string>
            </dict>
            <key>Add-castHaste (40).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1000}}</string>
                <key>sourceSize</key>
                <string>{450,1000}</string>
            </dict>
            <key>Add-castHaste (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{3618,2006},{450,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1000}}</string>
                <key>sourceSize</key>
                <string>{450,1000}</string>
            </dict>
            <key>Add-castHaste (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{3618,1004},{450,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1000}}</string>
                <key>sourceSize</key>
                <string>{450,1000}</string>
            </dict>
            <key>Add-castHaste (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{3618,2},{450,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1000}}</string>
                <key>sourceSize</key>
                <string>{450,1000}</string>
            </dict>
            <key>Add-castHaste (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{3166,3008},{450,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1000}}</string>
                <key>sourceSize</key>
                <string>{450,1000}</string>
            </dict>
            <key>Add-castHaste (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{3166,2006},{450,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1000}}</string>
                <key>sourceSize</key>
                <string>{450,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Add-castHaste.png</string>
            <key>size</key>
            <string>{4522,4010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbd1718b21d3af2e4ce6398edd1579b6$</string>
            <key>textureFileName</key>
            <string>Add-castHaste.png</string>
        </dict>
    </dict>
</plist>
