@font-face {
    font-family: "ux-scratch-icon";
    src: url('http://icon.nosdn.127.net/2eb1fcf8dcb66048fa3e75e258c189f3.eot');
    src: url('http://icon.nosdn.127.net/2eb1fcf8dcb66048fa3e75e258c189f3.eot') format('embedded-opentype'), url('http://icon.nosdn.127.net/87a3c713533d9657c262e97c6caab5ed.ttf') format('truetype'), url('http://icon.nosdn.127.net/b1de6fa4ce45b1b72846964cbbd260e2.woff') format('woff'), url('http://icon.nosdn.127.net/2f343264c4ad49b547afc9912fafb508.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="ux-scratch-icon-"],
[class*=" ux-scratch-icon-"] {
    font-family: "ux-scratch-icon" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    line-height: 1;
}

.ux-scratch-icon-QQ:before {
    content: "\EA01";
}

.ux-scratch-icon-add:before {
    content: "\EA02";
}

.ux-scratch-icon-addition:before {
    content: "\EA03";
}

.ux-scratch-icon-all-menu:before {
    content: "\EA04";
}

.ux-scratch-icon-animation:before {
    content: "\EA05";
}

.ux-scratch-icon-arrow:before {
    content: "\EA06";
}

.ux-scratch-icon-art:before {
    content: "\EA07";
}

.ux-scratch-icon-attachment:before {
    content: "\EA08";
}

.ux-scratch-icon-back-top:before {
    content: "\EA09";
}

.ux-scratch-icon-back:before {
    content: "\EA0A";
}

.ux-scratch-icon-backtop:before {
    content: "\EA0B";
}

.ux-scratch-icon-cancel:before {
    content: "\EA0C";
}

.ux-scratch-icon-caret-down:before {
    content: "\EA0D";
}

.ux-scratch-icon-caret-left:before {
    content: "\EA0E";
}

.ux-scratch-icon-caret-right:before {
    content: "\EA0F";
}

.ux-scratch-icon-caret-up:before {
    content: "\EA10";
}

.ux-scratch-icon-category:before {
    content: "\EA11";
}

.ux-scratch-icon-chat:before {
    content: "\EA12";
}

.ux-scratch-icon-clock:before {
    content: "\EA13";
}

.ux-scratch-icon-close:before {
    content: "\EA14";
}

.ux-scratch-icon-collect:before {
    content: "\EA15";
}

.ux-scratch-icon-contest-done:before {
    content: "\EA16";
}

.ux-scratch-icon-contribute:before {
    content: "\EA17";
}

.ux-scratch-icon-copyright:before {
    content: "\EA18";
}

.ux-scratch-icon-correct-fill:before {
    content: "\EA19";
}

.ux-scratch-icon-delete:before {
    content: "\EA1A";
}

.ux-scratch-icon-download:before {
    content: "\EA1B";
}

.ux-scratch-icon-download2:before {
    content: "\EA1C";
}

.ux-scratch-icon-edit:before {
    content: "\EA1D";
}

.ux-scratch-icon-error-circle:before {
    content: "\EA1E";
}

.ux-scratch-icon-eye-hollow:before {
    content: "\EA1F";
}

.ux-scratch-icon-eye:before {
    content: "\EA20";
}

.ux-scratch-icon-feedback:before {
    content: "\EA21";
}

.ux-scratch-icon-feedback2:before {
    content: "\EA22";
}

.ux-scratch-icon-focus:before {
    content: "\EA23";
}

.ux-scratch-icon-gallery-collect:before {
    content: "\EA24";
}

.ux-scratch-icon-gallery-list:before {
    content: "\EA25";
}

.ux-scratch-icon-gallery-lists:before {
    content: "\EA26";
}

.ux-scratch-icon-gallery-share:before {
    content: "\EA27";
}

.ux-scratch-icon-gallery-thumbup:before {
    content: "\EA28";
}

.ux-scratch-icon-game:before {
    content: "\EA29";
}

.ux-scratch-icon-h5-focus-on:before {
    content: "\EA2A";
}

.ux-scratch-icon-h5-focus:before {
    content: "\EA2B";
}

.ux-scratch-icon-help-close:before {
    content: "\EA2C";
}

.ux-scratch-icon-help-home:before {
    content: "\EA2D";
}

.ux-scratch-icon-help-question:before {
    content: "\EA2E";
}

.ux-scratch-icon-kadaxingqiu:before {
    content: "\EA2F";
}

.ux-scratch-icon-kefu:before {
    content: "\EA30";
}

.ux-scratch-icon-mail:before {
    content: "\EA31";
}

.ux-scratch-icon-manage:before {
    content: "\EA32";
}

.ux-scratch-icon-memberNum:before {
    content: "\EA33";
}

.ux-scratch-icon-menu:before {
    content: "\EA34";
}

.ux-scratch-icon-menu2:before {
    content: "\EA35";
}

.ux-scratch-icon-message-circle:before {
    content: "\EA36";
}

.ux-scratch-icon-message:before {
    content: "\EA37";
}

.ux-scratch-icon-more:before {
    content: "\EA38";
}

.ux-scratch-icon-more2:before {
    content: "\EA39";
}

.ux-scratch-icon-music:before {
    content: "\EA3A";
}

.ux-scratch-icon-my_delete:before {
    content: "\EA3B";
}

.ux-scratch-icon-my_edit:before {
    content: "\EA3C";
}

.ux-scratch-icon-my_manage:before {
    content: "\EA3D";
}

.ux-scratch-icon-my_release:before {
    content: "\EA3E";
}

.ux-scratch-icon-netease:before {
    content: "\EA3F";
}

.ux-scratch-icon-no-text:before {
    content: "\EA40";
}

.ux-scratch-icon-password:before {
    content: "\EA41";
}

.ux-scratch-icon-pen-1:before {
    content: "\EA42";
}

.ux-scratch-icon-pen:before {
    content: "\EA43";
}

.ux-scratch-icon-phone-number:before {
    content: "\EA44";
}

.ux-scratch-icon-phone:before {
    content: "\EA45";
}

.ux-scratch-icon-private:before {
    content: "\EA46";
}

.ux-scratch-icon-project-list:before {
    content: "\EA47";
}

.ux-scratch-icon-project-lists:before {
    content: "\EA48";
}

.ux-scratch-icon-project-star:before {
    content: "\EA49";
}

.ux-scratch-icon-project:before {
    content: "\EA4A";
}

.ux-scratch-icon-public:before {
    content: "\EA4B";
}

.ux-scratch-icon-recruitment-arrow:before {
    content: "\EA4C";
}

.ux-scratch-icon-replay-fill:before {
    content: "\EA4D";
}

.ux-scratch-icon-replay:before {
    content: "\EA4E";
}

.ux-scratch-icon-report:before {
    content: "\EA4F";
}

.ux-scratch-icon-right:before {
    content: "\EA50";
}

.ux-scratch-icon-rocket:before {
    content: "\EA51";
}

.ux-scratch-icon-rocket2:before {
    content: "\EA52";
}

.ux-scratch-icon-set:before {
    content: "\EA53";
}

.ux-scratch-icon-share:before {
    content: "\EA54";
}

.ux-scratch-icon-shoujidenglu:before {
    content: "\EA55";
}

.ux-scratch-icon-simulate:before {
    content: "\EA56";
}

.ux-scratch-icon-sort:before {
    content: "\EA57";
}

.ux-scratch-icon-sshsjllql:before {
    content: "\EA58";
}

.ux-scratch-icon-star-fill:before {
    content: "\EA59";
}

.ux-scratch-icon-star:before {
    content: "\EA5A";
}

.ux-scratch-icon-stickers:before {
    content: "\EA5B";
}

.ux-scratch-icon-story:before {
    content: "\EA5C";
}

.ux-scratch-icon-surprise:before {
    content: "\EA5D";
}

.ux-scratch-icon-systemprompt:before {
    content: "\EA5E";
}

.ux-scratch-icon-teacher:before {
    content: "\EA5F";
}

.ux-scratch-icon-theme:before {
    content: "\EA60";
}

.ux-scratch-icon-thumbup-fill:before {
    content: "\EA61";
}

.ux-scratch-icon-thumbup-hollow:before {
    content: "\EA62";
}

.ux-scratch-icon-thumbup:before {
    content: "\EA63";
}

.ux-scratch-icon-title-bg:before {
    content: "\EA64";
}

.ux-scratch-icon-translation:before {
    content: "\EA65";
}

.ux-scratch-icon-unknown-thick:before {
    content: "\EA66";
}

.ux-scratch-icon-unknown:before {
    content: "\EA67";
}

.ux-scratch-icon-upload-project:before {
    content: "\EA68";
}

.ux-scratch-icon-upload:before {
    content: "\EA69";
}

.ux-scratch-icon-user:before {
    content: "\EA6A";
}

.ux-scratch-icon-verify:before {
    content: "\EA6B";
}

.ux-scratch-icon-view:before {
    content: "\EA6C";
}

.ux-scratch-icon-wangwang-fill:before {
    content: "\EA6D";
}

.ux-scratch-icon-wangyikada:before {
    content: "\EA6E";
}

.ux-scratch-icon-warning-circle:before {
    content: "\EA6F";
}

.ux-scratch-icon-wechat:before {
    content: "\EA70";
}

.ux-scratch-icon-xiaoyuan:before {
    content: "\EA71";
}

.ux-scratch-icon-QQ-after:after {
    content: "\EA01";
}

.ux-scratch-icon-add-after:after {
    content: "\EA02";
}

.ux-scratch-icon-addition-after:after {
    content: "\EA03";
}

.ux-scratch-icon-all-menu-after:after {
    content: "\EA04";
}

.ux-scratch-icon-animation-after:after {
    content: "\EA05";
}

.ux-scratch-icon-arrow-after:after {
    content: "\EA06";
}

.ux-scratch-icon-art-after:after {
    content: "\EA07";
}

.ux-scratch-icon-attachment-after:after {
    content: "\EA08";
}

.ux-scratch-icon-back-top-after:after {
    content: "\EA09";
}

.ux-scratch-icon-back-after:after {
    content: "\EA0A";
}

.ux-scratch-icon-backtop-after:after {
    content: "\EA0B";
}

.ux-scratch-icon-cancel-after:after {
    content: "\EA0C";
}

.ux-scratch-icon-caret-down-after:after {
    content: "\EA0D";
}

.ux-scratch-icon-caret-left-after:after {
    content: "\EA0E";
}

.ux-scratch-icon-caret-right-after:after {
    content: "\EA0F";
}

.ux-scratch-icon-caret-up-after:after {
    content: "\EA10";
}

.ux-scratch-icon-category-after:after {
    content: "\EA11";
}

.ux-scratch-icon-chat-after:after {
    content: "\EA12";
}

.ux-scratch-icon-clock-after:after {
    content: "\EA13";
}

.ux-scratch-icon-close-after:after {
    content: "\EA14";
}

.ux-scratch-icon-collect-after:after {
    content: "\EA15";
}

.ux-scratch-icon-contest-done-after:after {
    content: "\EA16";
}

.ux-scratch-icon-contribute-after:after {
    content: "\EA17";
}

.ux-scratch-icon-copyright-after:after {
    content: "\EA18";
}

.ux-scratch-icon-correct-fill-after:after {
    content: "\EA19";
}

.ux-scratch-icon-delete-after:after {
    content: "\EA1A";
}

.ux-scratch-icon-download-after:after {
    content: "\EA1B";
}

.ux-scratch-icon-download2-after:after {
    content: "\EA1C";
}

.ux-scratch-icon-edit-after:after {
    content: "\EA1D";
}

.ux-scratch-icon-error-circle-after:after {
    content: "\EA1E";
}

.ux-scratch-icon-eye-hollow-after:after {
    content: "\EA1F";
}

.ux-scratch-icon-eye-after:after {
    content: "\EA20";
}

.ux-scratch-icon-feedback-after:after {
    content: "\EA21";
}

.ux-scratch-icon-feedback2-after:after {
    content: "\EA22";
}

.ux-scratch-icon-focus-after:after {
    content: "\EA23";
}

.ux-scratch-icon-gallery-collect-after:after {
    content: "\EA24";
}

.ux-scratch-icon-gallery-list-after:after {
    content: "\EA25";
}

.ux-scratch-icon-gallery-lists-after:after {
    content: "\EA26";
}

.ux-scratch-icon-gallery-share-after:after {
    content: "\EA27";
}

.ux-scratch-icon-gallery-thumbup-after:after {
    content: "\EA28";
}

.ux-scratch-icon-game-after:after {
    content: "\EA29";
}

.ux-scratch-icon-h5-focus-on-after:after {
    content: "\EA2A";
}

.ux-scratch-icon-h5-focus-after:after {
    content: "\EA2B";
}

.ux-scratch-icon-help-close-after:after {
    content: "\EA2C";
}

.ux-scratch-icon-help-home-after:after {
    content: "\EA2D";
}

.ux-scratch-icon-help-question-after:after {
    content: "\EA2E";
}

.ux-scratch-icon-kadaxingqiu-after:after {
    content: "\EA2F";
}

.ux-scratch-icon-kefu-after:after {
    content: "\EA30";
}

.ux-scratch-icon-mail-after:after {
    content: "\EA31";
}

.ux-scratch-icon-manage-after:after {
    content: "\EA32";
}

.ux-scratch-icon-memberNum-after:after {
    content: "\EA33";
}

.ux-scratch-icon-menu-after:after {
    content: "\EA34";
}

.ux-scratch-icon-menu2-after:after {
    content: "\EA35";
}

.ux-scratch-icon-message-circle-after:after {
    content: "\EA36";
}

.ux-scratch-icon-message-after:after {
    content: "\EA37";
}

.ux-scratch-icon-more-after:after {
    content: "\EA38";
}

.ux-scratch-icon-more2-after:after {
    content: "\EA39";
}

.ux-scratch-icon-music-after:after {
    content: "\EA3A";
}

.ux-scratch-icon-my_delete-after:after {
    content: "\EA3B";
}

.ux-scratch-icon-my_edit-after:after {
    content: "\EA3C";
}

.ux-scratch-icon-my_manage-after:after {
    content: "\EA3D";
}

.ux-scratch-icon-my_release-after:after {
    content: "\EA3E";
}

.ux-scratch-icon-netease-after:after {
    content: "\EA3F";
}

.ux-scratch-icon-no-text-after:after {
    content: "\EA40";
}

.ux-scratch-icon-password-after:after {
    content: "\EA41";
}

.ux-scratch-icon-pen-1-after:after {
    content: "\EA42";
}

.ux-scratch-icon-pen-after:after {
    content: "\EA43";
}

.ux-scratch-icon-phone-number-after:after {
    content: "\EA44";
}

.ux-scratch-icon-phone-after:after {
    content: "\EA45";
}

.ux-scratch-icon-private-after:after {
    content: "\EA46";
}

.ux-scratch-icon-project-list-after:after {
    content: "\EA47";
}

.ux-scratch-icon-project-lists-after:after {
    content: "\EA48";
}

.ux-scratch-icon-project-star-after:after {
    content: "\EA49";
}

.ux-scratch-icon-project-after:after {
    content: "\EA4A";
}

.ux-scratch-icon-public-after:after {
    content: "\EA4B";
}

.ux-scratch-icon-recruitment-arrow-after:after {
    content: "\EA4C";
}

.ux-scratch-icon-replay-fill-after:after {
    content: "\EA4D";
}

.ux-scratch-icon-replay-after:after {
    content: "\EA4E";
}

.ux-scratch-icon-report-after:after {
    content: "\EA4F";
}

.ux-scratch-icon-right-after:after {
    content: "\EA50";
}

.ux-scratch-icon-rocket-after:after {
    content: "\EA51";
}

.ux-scratch-icon-rocket2-after:after {
    content: "\EA52";
}

.ux-scratch-icon-set-after:after {
    content: "\EA53";
}

.ux-scratch-icon-share-after:after {
    content: "\EA54";
}

.ux-scratch-icon-shoujidenglu-after:after {
    content: "\EA55";
}

.ux-scratch-icon-simulate-after:after {
    content: "\EA56";
}

.ux-scratch-icon-sort-after:after {
    content: "\EA57";
}

.ux-scratch-icon-sshsjllql-after:after {
    content: "\EA58";
}

.ux-scratch-icon-star-fill-after:after {
    content: "\EA59";
}

.ux-scratch-icon-star-after:after {
    content: "\EA5A";
}

.ux-scratch-icon-stickers-after:after {
    content: "\EA5B";
}

.ux-scratch-icon-story-after:after {
    content: "\EA5C";
}

.ux-scratch-icon-surprise-after:after {
    content: "\EA5D";
}

.ux-scratch-icon-systemprompt-after:after {
    content: "\EA5E";
}

.ux-scratch-icon-teacher-after:after {
    content: "\EA5F";
}

.ux-scratch-icon-theme-after:after {
    content: "\EA60";
}

.ux-scratch-icon-thumbup-fill-after:after {
    content: "\EA61";
}

.ux-scratch-icon-thumbup-hollow-after:after {
    content: "\EA62";
}

.ux-scratch-icon-thumbup-after:after {
    content: "\EA63";
}

.ux-scratch-icon-title-bg-after:after {
    content: "\EA64";
}

.ux-scratch-icon-translation-after:after {
    content: "\EA65";
}

.ux-scratch-icon-unknown-thick-after:after {
    content: "\EA66";
}

.ux-scratch-icon-unknown-after:after {
    content: "\EA67";
}

.ux-scratch-icon-upload-project-after:after {
    content: "\EA68";
}

.ux-scratch-icon-upload-after:after {
    content: "\EA69";
}

.ux-scratch-icon-user-after:after {
    content: "\EA6A";
}

.ux-scratch-icon-verify-after:after {
    content: "\EA6B";
}

.ux-scratch-icon-view-after:after {
    content: "\EA6C";
}

.ux-scratch-icon-wangwang-fill-after:after {
    content: "\EA6D";
}

.ux-scratch-icon-wangyikada-after:after {
    content: "\EA6E";
}

.ux-scratch-icon-warning-circle-after:after {
    content: "\EA6F";
}

.ux-scratch-icon-wechat-after:after {
    content: "\EA70";
}

.ux-scratch-icon-xiaoyuan-after:after {
    content: "\EA71";
}